*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: rgb(220,220,220);
}

.v-enter{
    opacity: 0;
    transform: translateX(-180px);
}

.v-leave-to{
    opacity: 0;
    transform: translateX(180px);
}

.v-enter-active, .v-leave-active{
    transition: all 0.5s ease-in-out;
}

#menu{
    background: rgb(34,34,34);
    color: rgb(220,220,220);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 70px;
}

#menu a{
    text-decoration: none;
    color: rgb(220,220,220);
}

.menuElement{
    width: 120px;
    height: 40px;
    font-size: 1.1em;
    text-align: center;
    margin-right: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

.menuElement:hover{
    background: #303133;
    cursor: pointer;
    animation: menuAnimate 0.5s ease-in-out forwards;
}

@keyframes menuAnimate{
    0%{
        background: rgb(34,34,34);
    }

    100%{
        background: #303133;
    }
}

.menuElement img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


#outer{
    display: flex;
    flex-direction: row;
    background: #303133;
}

#content{
    height: auto;
    min-height: 100vh;
    width: 100%;
    background: #303133;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgb(220,220,220);
}

.blogContent{
    width: 400px;
    height: 120px;
    background: rgb(34,34,34);
    margin-top: 20px;
    transition: 0.5s cubic-bezier(.34,1.14,.6,.93) transform;
    cursor: pointer;
}

.blogContent:hover{
    transform: translateY(-6px);
}

.blogContent a{
    display: block;
    height: 120px;
    text-decoration: none;
}



#aside{
    width: 0px;
    height: auto;
    min-height: 100vh;
    background: #222222;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.extend{
    width: 0%;
    height: 100vh;
    background: #303133;
    animation: extend 1s ease-in-out forwards;
}

.shrink{
    width: 30%;
    height: 100v;
    background: #303133;
    animation: shrink 1s ease-in-out forwards;
}

@keyframes extend{
    0%{
        width: 0%;
    }

    100%{
        width: 35%;
    }
}

@keyframes shrink{
    0%{
        width: 35%;
    }

    100%{
        width: 0%;
    }
}

.graduallyAppear{
    animation: appear 2s ease-in forwards;
}

@keyframes appear{
    0%{
        opacity: 0%;
    }

    50%{
        opacity: 0%;
    }

    100%{
        opacity: 100%;
    }
}

.graduallyDisappear{
    animation: disappear 0.5s ease-in-out forwards;
}

@keyframes disappear{
    0%{
        opacity: 100%;
    }

    100%{
        opacity: 0%;
    }
}

#button_menu{
    position: fixed;
    right: 30px;
    bottom: 50px;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

#button_top{
    position: fixed;
    right: 30px;
    bottom: 10px;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

#button_top img{
    height: 30px;
}

button img{
    width: 30px;
    height: 40px;
}

#avator{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

#social img{
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
}

#posts{
    margin-top: 20px;
    font-size: 25px;
}

.baseAnimate{
    animation: baseAnimate 1s ease-in forwards;
}

@keyframes baseAnimate{
    0%{
        opacity: 0%;
    }

    100%{
        opacity: 100%;
    }
}

#searchContent{
    position: absolute;
    width: 65px;
    height: 65px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

#searchContent button{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 66px;
    height: 66px;
    background: rgb(34,34,34);
    outline: none;
    border: 1px solid rgb(34,34,34);
    border-radius: 50%;
    cursor: pointer;
}

#searchContent img{
    width: 50px;
    height: 50px;
}

#searchContent input{
    width: 100%;
    height: 65px;
    background: rgb(34,34,34);
    border: 1px solid rgb(34,34,34);
    outline: none;
    border-radius: 33px;
    font-size: 1.5em;
}

.bigger{
    animation: big 1s ease-in-out forwards;
}

@keyframes big{
    0%{
        width: 65px;
    }

    100%{
        width: 280px;
    }
}

.smaller{
    animation: small 1s ease-in-out forwards;
}

@keyframes small{ 
    0%{
        width: 280px;
    }

    100%{
        width: 65px;
    }
}

.title{
    margin-left: 30px;
    padding-top: 20px;
    font-size: 1.4em;
}

.date{
    position: relative;
    left: 320px;
    top: 40px;
}







